.wrapper {
    max-width: 1402px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .logo{
        width: 265px;
        height: 77px;
    }
    .content_wrapper{
        display: flex;
        align-items: center;
        gap: 50px;
    .phone_numbers{
       list-style: none;
       display: flex;
       flex-direction: column;
       li{
        display: flex;
        align-items: center;
        gap: 9px;
        .phone_operator{
            width: 24px;
            height: 23px;
        }
        .phone_number{
            font-size: 16px;
            line-height: 19px;
        }
       }
    } 
}
}
