.wrapper {
    max-width: 1402px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .logo{
        width: 265px;
        height: 77px;
    }
    .phone_numbers{
       list-style: none;
       display: flex;
       flex-direction: column;
       li{
        display: flex;
        align-items: center;
        gap: 9px;
       }
    }
    
}
